body {
    background-color: #000;
    color: #ffd700;
}

.jumbotron {
    background-color: #ffd700;
    color: #000;
    padding: 4rem 2rem;
    border-radius: 1rem;
    margin-top: 5rem;
}

.btn-custom {
    background-color: #000;
    color: #ffd700;
    border: 2px solid #ffd700;
}

.btn-custom:hover {
    background-color: #ffd700;
    color: #000;
    border-color: #000;
}
